<!-- footer.component.html -->

<footer class="bg-cover bg-center relative mb-0" style="background-image: url('assets/blob-scene-haikei.png');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="container mx-auto py-10 relative z-10 text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-8">
      <!-- Footer content here -->
      
      <div>
        <h2 class="text-2xl font-bold mb-4">Mathematics </h2>
        <ul>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/derivative">Derivative Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/descrpitive">Descriptive Statistics Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/determinant">Determinant Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/integral">Integral Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/permutation">Permutation Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/combination">Combination Calculator</a></li>
          <!-- Add more math calculator links here -->
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-4">Computer Science</h2>
        <ul>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/bitwise">Bitwise Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/random-number">Random Number Generator</a></li>
          <!-- Add more computer science calculator links here -->
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-4">Business/Finance</h2>
        <ul>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/break-even">Break-Even Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/investment-return">Investment Return Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/loan-amortization">Loan Amortization Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/loan">Loan Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/npv">NPV Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/payroll">Payroll Calculator</a></li>
          <!-- Add more business/finance calculator links here -->
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-4">Measurement/Unit Conversion</h2>
        <ul>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/area-conversion">Area Conversion</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/converter">Converter</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/length-conversion">Length Conversion</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/temperature-conversion">Temperature Conversion</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/time-conversion">Time Conversion</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/weight-conversion">Weight Conversion</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/volume-conversion">Volume Conversion</a></li>
          <!-- Add more measurement/unit conversion calculator links here -->
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-4">Chemistry</h2>
        <ul>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/molar-mass">Molar Mass Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/ph">pH Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/poh">pOH Calculator</a></li>
          <!-- Add more chemistry calculator links here -->
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-4">Economics</h2>
        <ul>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/gdp">GDP Calculator</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/inflation">Inflation Calculator</a></li>
          <!-- Add more economics calculator links here -->
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-4">Education</h2>
        <ul>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/gpa">GPA Calculator</a></li>
          <!-- Add more education calculator links here -->
        </ul>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-4">Other</h2>
        <ul>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/word-count">Word Count</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/character-count">Character Count</a></li>
          <li><a class="text-blue-400 hover:text-blue-600 hover:underline" href="/calculator/pregnancy-due-date">Pregnancy</a></li>
          <!-- Add more calculator links here -->
        </ul>
      </div>
     
  
      <div>
        <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
        <p>Email: abrhamwube1@gmail.com</p>
        <p>Phone: +251965075728</p>
      </div>
    </div>
  </div>

</footer>
<div class="text-center bg-sky-500 ">
  <h1 class=" text-gold-900 ">&copy; 2023 Yotor Calculator . All Rights Reserved. Made by Abrham Wube.</h1>
  <div class="flex items-center justify-center gap-5" >
    <div >
    <!-- GitHub Icon -->
    <a href="https://github.com/abrshewube" target="_blank" class="text-white-900 hover:text-blue-600 hover:underline">
      <i class="fab fa-github"></i> GitHub
    </a>
  </div>
  <div>
    <!-- LinkedIn Icon -->
    <a href="www.linkedin.com/in/abrham-wube-148a12247" target="_blank" class="text-white-900 hover:text-blue-600 hover:underline">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
  </div>
</div>
</div>


